


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: grey;
}

button {
  background-color: black;
  color: white;
}


.wrapper {
  margin: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  height: 81vw;
}


.wrapper img {
  width: 100vw;
  height: 81vw;
}

#rideCymbal {
  grid-column-start: 3;
  grid-row-start: 1;
  height: 40px;
  margin-top: 40px;
}

#crashCymbal {
  grid-column-start: 9;
  grid-row-start: 1;
  height: 40px;
  margin-top: 40px;
}

#mediumTom {
  grid-column-start: 5;
  grid-row-start: 3;
  height: 40px;
  margin-top: 10px;
}

#highTom {
  grid-column-start: 7;
  grid-row-start: 3;
  height: 40px;
  margin-top: 10px;
}

#hiHatCymbal {
  grid-column-start: 9;
  grid-row-start: 3;
  height: 25x;
  margin-top: 25px;
}

#floorTom {
  grid-column-start: 4;
  grid-row-start: 5;
  height: 40px;
  margin-top: 2px;
}

#snareDrum {
  grid-column-start: 8;
  grid-row-start: 5;
  height: 40px;
  margin-top: 2px;
}


#bassDrum {
  grid-column-start: 6;
  grid-row-start: 7;
  height: 40px;
  margin-top: 2px;
}




/*
body {
  

   margin: 0;
   padding: 0;
   height: 100vh;
  background-color: orange;

   
   
}


.wrapper {
   margin: 0;
   padding: 0;
   width: 100vw;
   height: 81vh;
   display: grid;
   place-items: center;
   border-style: solid;
   border-color: black;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: auto;

 }

 .one {
   border-style: solid;
   border-color: black;
 }

 .wrapper img {
  width: 100vw;
  height: 81vw;
}



 .two {
 
   border-style: solid;
   border-color: black;
  
   
  
 }
 .three {

   border-style: solid;
   border-color: black;
 
 }

 .four {

   border-style: solid;
   border-color: black;

 }
 .five {

   border-style: solid;
   border-color: black;
   
 }
 .six {

   border-style: solid;
   border-color: black;
   
 }

 .seven {
   border-style: solid;
   border-color: black;
 
 }

 .eight {
 
   border-style: solid;
   border-color: black;;
  
 }
 .nine {

   border-style: solid;
   border-color: black;
 
 }

 .ten {

   border-style: solid;
   border-color: black;
   object-position:bottom;

 }
 .eleven {

   border-style: solid;
   border-color: black;
   
 }
 .twelve {

   border-style: solid;
   border-color: black;
   
 }

 

*/